.course
  padding-bottom: 120px
  +media('md')
    padding-bottom: 60px

  &__container
    max-width 1560px
    padding: 0 20px
    margin: 0 auto
    +media('md')
      padding: 0 15px

  &__title
    position: relative;
    font-size: 60px
    line-height: 80px
    font-weight: bold;
    color: #ffffff
    margin-bottom: 104px;
    margin-top: -5px
    +media('md')
      margin-top: -3px
      margin-left: 0
      font-size: 30px
      line-height: 44px
      margin-bottom: 56px

    &:before, &:after
      content: ''
      position: absolute;

    &:after
      right: 100%
      top: 3px
      height: 100%
      width: 1000px
      background: repeating-linear-gradient(#1a1616 0px, #1a1616 73px, transparent 73px, transparent 80px)
      +media('md')
        background: repeating-linear-gradient(#1a1616 0px, #1a1616 37px, transparent 37px, transparent 44px)

    &:before
      background: #ec3434
      width: 561px;
      height: 40px;
      left: 172px;
      top: 54px;

    & > span
      background: $black
      position: relative;
      box-shadow (-18px 0 0 0 $black) , 18px 0 0 0 $black;

      & > span
        position: relative;
        z-index: 1;

      &:before, &:after
        content: ''
        position: absolute;

      &:after
        width: 195px
        height: 195px
        background: #ec3434
        border-radius: 50%
        top: -56px;
        left: 261px;
        +media('md')
          width: 102px
          height: 102px
          top: -12px;
          left: 27px;

      &:before
        width: 130px;
        height: 5px;
        background: #1a1616;
        left: 239px;
        top: 100%;
        margin-top: 18px;
        +media('md')
          margin-left: -16px;
          margin-top: 8px;


  &__row
    position: relative;
    min-height 724px
    +media('md')
      min-height auto

  //display: flex;

  &__placeholder
    width: 50%
    float: right;
    height: 724px
    margin-left: 50px
    +media('md')
      display: none;

  &__info
    max-width 50%
    padding-right: 50px
    width: 100%
    +media('md')
      max-width none
      padding-right: 0

  &__header
    font-size: 80px
    line-height: 85px
    margin-bottom: 58px
    hyphens: auto;
    +media('md')
      font-size: 47px
      line-height: 47px
      margin-bottom: 27px

  &__footer
    margin-top: 50px
    display: flex;
    align-items center
    @media screen and (max-width: 1550px)
      flex-direction column
      align-items flex-start

    +media('md')
      margin-top: 24px

  &__aside
    position: absolute;
    height: 684px
    top: 0
    right: 0
    width: 50%
    +media('md')
      display: none;

  &__image
    height: 100%
    background-size: cover
    background-position: 50% 50%

  &__nav
    position: absolute;
    right: 200px
    bottom: -40px
