.course
  padding-bottom: 120px
  +media('md')
    padding-bottom: 60px

  &__container
    max-width 1560px
    padding: 0 20px
    margin: 0 auto
    +media('md')
      padding: 0 15px

  &__title
    margin-bottom: 0;
    +media('md')
      margin-bottom: 0;

    &:before // Красная полоса
      width: 561px;
      height: 41px;
      left: 172px;
      top: 53px;
      z-index: -1;
      +media('md')
        margin-right: -108px;
        top: 9px;

    & > span
      &:after // Красный круг
        width: 196px
        height: 196px
        top: -52px;
        left: 319px;
        +media('md')
          width: 76px
          height: 76px
          top: -15px;
          left: 260px;

      &:before // Черная полоска
        content: ''

  &__row
    position: relative;
    margin-top: 120px

    &--withGallery
      min-height 724px
      +media('md')
        min-height auto

    +media('md')
      margin-top: 60px

  //display: flex;

  &__placeholder
    width: 50%
    float: right;
    height: 724px
    margin-left: 50px
    +media('md')
      display: none;

  &__text
    font-size: 23px

    > *
      visibility: hidden;
    +media('md')
      font-size: 16px

  &__info
    max-width 50%
    padding-right: 50px
    width: 100%
    +media('md')
      max-width none
      padding-right: 0

  &__header
    font-size: 80px
    line-height: 85px
    margin-bottom: 58px
    hyphens: auto;
    +media('md')
      font-size: 47px
      line-height: 47px
      margin-bottom: 27px

  &__footer
    margin-top: 50px
    display: flex;
    align-items center
    @media screen and (max-width: 1550px)
      flex-direction column
      align-items flex-start

    +media('md')
      margin-top: 24px

  &__aside
    visibility: hidden;
    position: absolute;
    height: 684px
    top: 0
    right: 0
    width: 50%
    +media('md')
      margin-top: 50px
      position: relative;
      height: 300px
      width: 100%

  //  display: none;

  &__image
    height: 100%
    background-size: cover
    background-position: 50% 50%

  &__nav
    position: absolute;
    right: 200px
    bottom: -40px
    +media('md')
      right: 50%
      transform translateX(50%)
