.customModule(style='background-image: url(modules/header/img/header-bg.jpg)')
  .customModule__inner
    .customModule__title СОБЕРИТЕ СВОЙ#[br]УНИКАЛЬНЫЙ МОДУЛЬ
    a.customModule__button(href='#') ВСЕ КУРСЫ
