.search
  .c
    h2.search__title: span ПОИСК

    form
      .search__form
        .input
          label.input__label Введите ключевые слова для поиска
          input.input__input(value='Курс обучение')
        button.btn.btn--topRight ПОИСК

    .search__items
      a.search__item(href='#')
        p На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования ...
      a.search__item(href='#')
        p На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования ...
      a.search__item(href='#')
        p На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования ...
