.students
  .cWide
    .students__header: span УЧЕНИКИ

  .students__item
    .cWide
      .students__row
        .students__img: img(src='modules/students/img/img.jpg')
        .students__content
          .students__name Имя Отчество Фамилия
          .students__description ПРОФЕССИЯ

  .students__item
    .cWide
      .students__row
        .students__img: img(src='modules/students/img/img.jpg')
        .students__content
          .students__name Имя Отчество Фамилия
          .students__description ПРОФЕССИЯ
          .students__text
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis.

  .students__item
    .cWide
      .students__row
        .students__img: img(src='modules/students/img/img.jpg')
        .students__content
          .students__name Имя Отчество Фамилия
          .students__description ПРОФЕССИЯ
          .students__text
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis.

  .students__item
    .cWide
      .students__row
        .students__img: img(src='modules/students/img/img.jpg')
        .students__content
          .students__name Имя Отчество Фамилия
          .students__description ПРОФЕССИЯ
          .students__text
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis.


