form.form
  .c
    h2.form__title.form__title--01: span ВАШИ ДАННЫЕ

  .form__info
    .form__row
      .input
        label.input__label Фамилия Имя Отчество
        input.input__input
    .form__row
      .form__age
        .input
          label.input__label Возраст, лет
          input.input__input
      .input
        label.input__label Ваш регион
        select.select
          option Алтайский край
          option Амурская область
          option Архангельская область
          option Астраханская область
          option Белгородская область
          option Брянская область
          option Владимирская область
          option Волгоградская область
          option Вологодская область
          option Воронежская область
          option г. Москва
          option Еврейская автономная область
          option Забайкальский край
          option Ивановская область
          option Иные территории, включая город и космодром Байконур
          option Иркутская область
          option Кабардино-Балкарская Республика
          option Калининградская область
          option Калужская область
          option Камчатский край
          option Карачаево-Черкесская Республика
          option Кемеровская область
          option Кировская область
          option Костромская область
          option Краснодарский край
          option Красноярский край
          option Курганская область
          option Курская область
          option Ленинградская область
          option Липецкая область
          option Магаданская область
          option Московская область
          option Мурманская область
          option Ненецкий автономный округ
          option Нижегородская область
          option Новгородская область
          option Новосибирская область
          option Омская область
          option Оренбургская область
          option Орловская область
          option Пензенская область
          option Пермский край
          option Приморский край
          option Псковская область
          option Республика Адыгея (Адыгея)
          option Республика Алтай
          option Республика Башкортостан
          option Республика Бурятия
          option Республика Дагестан
          option Республика Ингушетия
          option Республика Калмыкия
          option Республика Карелия
          option Республика Коми
          option Республика Крым
          option Республика Марий Эл
          option Республика Мордовия
          option Республика Саха (Якутия)
          option Республика Северная Осетия - Алания
          option Республика Татарстан (Татарстан)
          option Республика Тыва
          option Республика Хакасия
          option Ростовская область
          option Рязанская область
          option Самарская область
          option Санкт-Петербург
          option Саратовская область
          option Сахалинская область
          option Свердловская область
          option Севастополь
          option Смоленская область
          option Ставропольский край
          option Тамбовская область
          option Тверская область
          option Томская область
          option Тульская область
          option Тюменская область
          option Удмуртская Республика
          option Ульяновская область
          option Хабаровский край
          option Ханты-Мансийский автономный округ - Югра
          option Челябинская область
          option Чеченская Республика
          option Чувашская Республика - Чувашия
          option Чукотский автономный округ
          option Ямало-Ненецкий автономный округ
          option Ярославская область

    .form__row
      .input
        label.input__label E-mail
        input.input__input
    .form__row
      .input
        label.input__label Телефон
        input.input__input(type='tel')

  .c
    h2.form__title.form__title--02: span ВЫБЕРИТЕ КУРС

    .form__items
      .form__item
        label.checkbox
          input(type='checkbox' name='course' value='1')
          span Скетчинг как коллекционирование опыта

        .form__options
          .form__inner
            .input.input--sm
              label.input__label День недели
              select.select.select--green
                option Понедельник
                option Вторник
                option Среда
                option Четверг
                option Пятница
                option Суббота
                option Воскресение
            .input.input--sm
              label.input__label Время
              select.select.select--green
                option 17:00 - 18:30
                option 19:00 - 20:30
            .form__note с 12 октября по 16 ноября

      .form__item
        label.checkbox
          input(type='checkbox' name='course' value='2')
          span Free-run still-life

        .form__options
          .form__inner
            .input.input--sm
              label.input__label День недели
              select.select.select--green
                option Понедельник
                option Вторник
                option Среда
                option Четверг
                option Пятница
                option Суббота
                option Воскресение
            .input.input--sm
              label.input__label Время
              select.select.select--green
                option 17:00 - 18:30
                option 19:00 - 20:30
            .form__note с 12 октября по 16 ноября

      .form__item
        label.checkbox
          input(type='checkbox' name='course' value='3')
          span Парафраз в эпоху постмодерна

        .form__options
          .form__inner
            .input.input--sm
              label.input__label День недели
              select.select.select--green
                option Понедельник
                option Вторник
                option Среда
                option Четверг
                option Пятница
                option Суббота
                option Воскресение
            .input.input--sm
              label.input__label Время
              select.select.select--green
                option 17:00 - 18:30
                option 19:00 - 20:30
            .form__note с 12 октября по 16 ноября

      .form__item
        label.checkbox
          input(type='checkbox' name='course' value='4')
          span Фотореализм как практика постмодернизма

        .form__options
          .form__inner
            .input.input--sm
              label.input__label День недели
              select.select.select--green
                option Понедельник
                option Вторник
                option Среда
                option Четверг
                option Пятница
                option Суббота
                option Воскресение
            .input.input--sm
              label.input__label Время
              select.select.select--green
                option 17:00 - 18:30
                option 19:00 - 20:30
            .form__note с 12 октября по 16 ноября

      .form__item
        label.checkbox
          input(type='checkbox' name='course' value='5')
          span Четыре стены

        .form__options
          .form__inner
            .input.input--sm
              label.input__label День недели
              select.select.select--green
                option Понедельник
                option Вторник
                option Среда
                option Четверг
                option Пятница
                option Суббота
                option Воскресение
            .input.input--sm
              label.input__label Время
              select.select.select--green
                option 17:00 - 18:30
                option 19:00 - 20:30
            .form__note с 12 октября по 16 ноября

      .form__item
        label.checkbox
          input(type='checkbox' name='course' value='6')
          span Смыть всё!

        .form__options
          .form__inner
            .input.input--sm
              label.input__label День недели
              select.select.select--green
                option Понедельник
                option Вторник
                option Среда
                option Четверг
                option Пятница
                option Суббота
                option Воскресение
            .input.input--sm
              label.input__label Время
              select.select.select--green
                option 17:00 - 18:30
                option 19:00 - 20:30
            .form__note с 12 октября по 16 ноября

    .form__buttons
      label.form__button
        input(type='radio' name='type' value='custom' checked)
        span СОБЕРИ СВОЙ МОДУЛЬ
      label.form__button
        input(type='radio' name='type' value='module')
        span ВЫБЕРИ ПОДУЛЬ

    .form__modules
      .form__module
        label.checkbox
          input(type='radio' name='module' value='1')
          span Твои лушчие 15
      .form__module
        label.checkbox
          input(type='radio' name='module' value='2')
          span Художник как теоретик
      .form__module
        label.checkbox
          input(type='radio' name='module' value='3')
          span Искусство в потоке

      .form__module
        label.checkbox
          input(type='radio' name='module' value='4')
          span Исекусство в эпоху постмодерна
      .form__module
        label.checkbox
          input(type='radio' name='module' value='5')
          span ART квартал
      .form__module
        label.checkbox
          input(type='radio' name='module' value='6')
          span Дизайн и арт-практика

    .form__footer
      .form__price 14 500 ₽
      .form__actions
        button.btn.btn--bottomLeft ОПЛАТИТЬ
        button.btn.btn--bottomRight.btn--black ОТПРАВИТЬ ЗАПРОС

script.
  var formConfig = {
    courses: {
      1: { price: 100 },
      2: { price: 200 },
      3: { price: 300 },
      4: { price: 400 },
      5: { price: 500 },
      6: { price: 600 },
      7: { price: 700 },
    },
    modules: {
      1: { courses: [2, 3, 4] }
    }
  };
  var totalPrice = 0;
