.form
  padding-bottom: 220px
  display: block;
  +media('md')
    padding-bottom: 90px

  &__title
    position: relative;
    margin-bottom: 112px
    font-size: 60px
    line-height: 75px
    font-weight: bold;
    color: #ffffff
    +media('md')
      left: 19px
      margin-left: 0
      font-size: 30px
      line-height: 40px
      margin-bottom: 53px

    &:before, &:after, span:before, span:after
      content: ''
      position: absolute;

    &:before
      width: 235px;
      height: 40px;
      background: #ec3434

    &:after
      width: 100px;
      height: 5px;
      background: #1a1616;

    span
      position: relative;
      z-index: 1

      &:before
        right: -20px
        width: 1000px
        height: 75px
        background: #1a1616
        z-index: -1
        +media('md')
          right: -5px;
          height: 40px;

      &:after
        width: 195px
        height: 195px
        background: #ec3434
        border-radius: 50%
        z-index: -1
        +media('md')
          width: 76px
          height: 76px
          top: -18px;
          left: -8px;

    &--01
      &:before
        top: 15px;
        left: 433px;
        +media('md')
          top: 33px;
          left: -470px;

      &:after
        left: 253px;
        top: 94px;
        +media('md')
          top: 47px
          left: 93px

      span
        &:after
          top: -59px;
          left: 107px;
          +media('md')
            top: -15px;
            left: 75px;

    &--02
      +media('md')
        margin-bottom: 23px

      &:before
        top: 40px;
        left: 248px;
        +media('md')
          top: 33px;
          left: -470px;

      &:after
        left: -152px
        top: 94px;
        +media('md')
          top: 47px

      span
        &:after
          top: -59px;
          left: -112px
        +media('md')
          top: -18px;
          left: -8px;

  &__info
    max-width 720px
    margin: 0 auto 118px
    +media('md')
      padding: 0 20px
      margin-bottom: 77px

  &__row
    margin-bottom: 32px
    display: flex;
    +media('md')
      margin-bottom: 22px
      flex-direction column

    .input
      width: 100%

  &__age
    max-width 160px
    margin-right: 40px
    flex-shrink 0
    +media('md')
      max-width 100%
      margin: 0 0 22px

  &__items
    display: flex;
    align-items flex-start
    flex-wrap wrap
    margin: 0 -20px

  &__item
    width: 33.333%
    padding: 0 20px 60px
    +media('md')
      width: 100%
      padding-bottom: 24px

  &__options
    max-height 0
    overflow: hidden;
    anim(.25s)

  &__inner
    padding-top: 24px
    +media('md')
      padding-top: 20px
      padding-bottom: 10px

    .input
      margin-bottom: 20px
      +media('md')
        margin-bottom: 17px

  &__note
    font-size: 18px
    +media('md')
      font-size: 14px

  &__buttons
    display: flex;
    margin: 50px 0 104px
    +media('md')
      flex-direction column
      margin: 92px -20px 60px

  &__button
    flex: 1
    cursor: pointer;

    input
      display: none;

    span
      display: flex;
      align-items center
      justify-content center
      height: 130px
      font-size: 36px
      color: #ec3434
      background: #f2f1f1
      anim()
      +media('md')
        font-size: 22px
        height: 70px

    input:checked ~ span
      background: $black

  &__modules
    display: flex;
    flex-wrap wrap

  &__module
    width: 50%
    margin-bottom: 55px
    +media('md')
      width: 100%
      margin-bottom: 23px

  &__footer
    background: #f6f6f6
    display: flex;
    align-items center
    height: 200px
    padding: 0 80px 0 72px
    margin-top: 56px
    +media('md')
      height: auto;
      flex-direction column
      margin-top: 42px
      padding: 13px 0 20px

  &__price
    font-size: 60px
    +media('md')
      font-size: 47px

  &__actions
    margin-left: auto;
    display: flex;
    +media('md')
      flex-direction column
      margin: 20px 0 0
      width: 220px

    .btn
      margin-left: 15px
      +media('md')
        margin: 0 0 10px
        padding: 0
        width: 100%
        &--bottomLeft
          border-radius: 30px 0 0 0;
