.moduleCourses
  .moduleCourses__title КУРСЫ КОТОРЫЕ ВХОДЯТ В МОДУЛЬ
  .moduleCourses__cols
    .moduleCourses__col
      .moduleCourses__item
        .moduleCourses__header: span Круиз абитуриента
        .moduleCourses__body: .moduleCourses__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
      .moduleCourses__item
        .moduleCourses__header: span Линия. Пятно. Плоскогубцы
        .moduleCourses__body: .moduleCourses__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
      .moduleCourses__item
        .moduleCourses__header: span Парафраз в эпоху постмодерна
        .moduleCourses__body: .moduleCourses__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
      .moduleCourses__item
        .moduleCourses__header: span Скетчинг как коллекционирование опыта
        .moduleCourses__body: .moduleCourses__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного

    .moduleCourses__col
      .moduleCourses__item
        .moduleCourses__header: span Круиз абитуриента
        .moduleCourses__body: .moduleCourses__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
      .moduleCourses__item
        .moduleCourses__header: span Линия. Пятно. Плоскогубцы
        .moduleCourses__body: .moduleCourses__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
      .moduleCourses__item
        .moduleCourses__header: span Парафраз в эпоху постмодерна
        .moduleCourses__body: .moduleCourses__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
