// ====================================
// colors
// ====================================

$brown1 = #ba9674
$brown2 = #8a6552
$black = #1a1616
$grey1 = #f2eeec
$grey2 = #f8f6f5
$white = #fff

// ====================================
// grid settings
// ====================================
$gutter = 15px
$gutter-half = ($gutter / 2)

//$breakpoint-sm = 468px
$breakpoint-md = 1140px
$breakpoint-lg = 1200px

//$container-sm = 468px
$container-md = 1120px
$container-lg = 1170px


