.history
  .history__row
    .cWide
      .history__container
        .history__info
          .history__header История
          .history__text
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverratincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libauctor et, hendrerit quis, nisi. Curabitur ligula sapien, tquis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis.

    .gallery.history__aside
      .gallery__slider
        .gallery__items
          //.gallery__item.history__image(style='background-image: url(images/01.jpg)')
          //.gallery__item.history__image(style='background-image: url(images/02.jpg)')
          .gallery__item.history__image(style='background-image: url(images/03.jpg)')
      .nav.history__nav
        button.nav__button.nav__button--prev: +svg('arrow')
        button.nav__button.nav__button--next: +svg('arrow')

