.cWide
  h1.title Блог
  .blogs
    .blogs__items
      each i in [1,2,3]
        .blogs__item
          a.blogs__image(style='background-image: url(images/01.jpg)' href='#')
          .blogs__header NAD-ART
          .blogs__text Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
          .blogs__btn: a.btn.btn--bottomLeft(href='#') ПОДРОБНЕЕ
