.courses
  h2.courses__title #[b ку]рсы
  .c
    //h2.courses__title
    //  span БОЛЕЕ 30 КУРСОВ
    //  span #{' '}И 12 МОДУЛЕЙ
    .courses__text: b У нас вы можете пройти как отдельный курс, так и выбрать образовательный модуль, который даст вам полное представление об актуальном состоянии художественной теории и практики.
  .courses__headers
    .courses__header: a.courses__link(href='#') #[b арт-]практики
    .courses__header: a.courses__link(href='#') #[b история] и теория
    .courses__header: a.courses__link(href='#') #[b дизайн]
  .c: .courses__text2 Цель образовательной программы #[b(style='color:#ec3434;') NEWARTDOM] — познакомить студентов с инструментами современного искусства и подготовить их к интеграции в глобальную художественную среду.
  .courses__items
    .cards
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/01.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/02.jpg)')
          |Free-run#[br]Still-life
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/03.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/04.jpg)')
          |Free-run#[br]Still-life
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/05.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/06.jpg)')
          |Free-run#[br]Still-life
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/07.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/08.jpg)')
          |Free-run#[br]Still-life
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/09.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/10.jpg)')
          |Free-run#[br]Still-life
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/09.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/10.jpg)')
          |Free-run#[br]Still-life
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/09.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/10.jpg)')
          |Free-run#[br]Still-life
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/09.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/10.jpg)')
          |Free-run#[br]Still-life
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/09.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/10.jpg)')
          |Free-run#[br]Still-life
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/09.jpg)')
          |Скетчинг
      .cards__item
        a.cards__card(href='#')
          .cards__img(style='background-image:url(images/10.jpg)')
          |Free-run#[br]Still-life

  .courses__more
    button ЕЩЕ

