.faq#faq
  .faq__container
    h2.faq__title: span FAQ
    .faq__row
      .faq__items
        .faq__item
          .faq__header: span Я научусь отличать искусство от неискусства?
          .faq__body: .faq__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
        .faq__item
          .faq__header: span Онлайн-формат подойдет для подготовки портфолио?
          .faq__body: .faq__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
        .faq__item
          .faq__header: span Какие программы мне понадобятся#[br]для обучения дизайну?
          .faq__body: .faq__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
        .faq__item
          .faq__header: span А чем ваша школа отличается от других онлайн-школ?
          .faq__body: .faq__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного
        .faq__item
          .faq__header: span Еще больше ваших вопросов и наших ответов
          .faq__body: .faq__inner На наших курсах мы будем говорить об исторических изменениях, концептуальных предпосылках и социокультурной проблематике современности, которые только и сделали появление сотетрогагу а возможным. Понимая логику функционирования современного искусства, вы с легкостью отличите мощный концептуальный проект от посредственного

      .faq__aside
        .faq__formHeader ЗАДАЙ#[br]ВОПРОС
        form
          .faq__input
            .input
              label.input__label напишите нам здесь
              input.input__input.input__input--white
          .faq__input
            .input
              label.input__label ваш адрес для обратной связи
              input.input__input.input__input--white
          .faq__footer
            button.btn ОТПРАВИТЬ
