//*
//  letter-spacing 0.01em

html
  font-family: 'Century Gothic', sans-serif;
  color: $black
  font-size: 30px
  line-height: 1.4
  background: #fff
  overflow-x: hidden;
  +media('md')
    font-size: 20px

@media print {
  @page {
    margin: 1cm;
  }
}

body
  overflow-x: hidden
  overflow-y: auto

html, body
  //overflow-x: hidden
  min-height 100vh

.cWide
  margin-left: auto
  margin-right: auto
  max-width: 1560px
  padding: 0 20px
  width: 100%


.c
  margin-left: auto
  margin-right: auto
  max-width: $container-md
  width: 100%
  //+media('lg')
  //  max-width: $container-md
  +media('md')
    padding-left: 20px
    padding-right: 20px
    max-width: 100%

.cf
  cf()

.lazy
  visibility: hidden
  opacity: 0

  &.lazy--visible
    visibility: visible
    opacity: 1

img[data-src],
img[data-srcset]
  //display: block;
  min-height: 1px;

.hidden
  display: none

#sprites
  position: absolute
  width: 0
  height: 0
  top: 0
  left: 0

.center
  text-align: center;

.small
  font-size: .85rem
  opacity: .5

.link
  color: $black
  font-weight: 500
  border-bottom: 1px solid $brown1
  padding-bottom: 1px
  anim()
  +media('md')
    padding-bottom: 0

  &:hover
    color: $brown2
    border-color: #eee5dc

  &:active
    opacity: .8

.nav
  display: flex;

  &__button
    position: relative;
    width: 80px
    height: 80px
    background: $black
    border-radius: 0 0 40px 0;
    +media('md')
      width: 70px
      height: 70px

    &:last-child
      border-left: 1px solid #303030

    svg
      position: absolute;
      fill: #ffffff
      top: 50%
      left: 50%
      transform translate(-50%, -50%) scale(-1, 1)
      width: 31px
      height: 31px
      anim()

    &--prev
      border-radius: 40px 0 0 0;
      margin-right: 5px

      svg
        transform translate(-50%, -50%) scaleY(-1)

    &:hover
      svg
        fill #e33535

.gallery
  position: relative;

  &__slider
    height: 100%
    overflow: hidden;

  &__items
    display: flex;
    height: 100%
    align-items flex-start

  &__item
    //height: 100%
    width: 100%
    flex-shrink 0

  &__nav
    position: absolute;
    display: flex;
    bottom: 35px
    right: 34px
    +media('md')
      bottom: 10px
      right: 8px

  img
    max-width 100%
    height: auto;
    display: block;
    margin: 0 auto


.content
  & > *:first-child
    margin-top: 0

  p, ul, ol
    margin-bottom: 10px
    //+media('md')
    //  margin-bottom: 33px

    br
      content ''
      display: block;
      height: 10px


  .bullets, .gallery, blockquote, .advantages, .icons
    margin-top: 55px
    margin-bottom: 55px
    +media('md')
      margin-top: 30px
      margin-bottom: 30px

  .people
    margin-top: 21px
    margin-bottom: 44px
    +media('md')
      margin-top: 23px
      margin-bottom: 25px


  h1, h2, h3, h4, h5
    margin-top: 60px
    margin-bottom: 12px
    +media('md')
      margin-bottom: 8px

  h6
    margin-top: 60px
    margin-bottom: 19px
    +media('md')
      margin-bottom: 14px

  img
    max-width 100%
    height: auto;

.video
  display: block;
  position: relative;
  border: 0

  img
    width: 100%

  iframe
    position: absolute;
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1

  &:after
    content ''
    position: absolute;
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $black
    opacity: .5

  &__icon
    position: absolute;
    width: 70px
    height: 70px
    background: $white
    top: 50%
    left: 50%
    margin-top: -35px
    margin-left: -35px
    z-index: 1
    +media('md')
      width: 50px
      height: 50px
      margin-top: -25px
      margin-left: -25px

    &:after
      position: absolute;
      content: ''
      display: block;
      border-left: 19px solid $brown1
      border-top: 11px solid transparent
      border-bottom: 11px solid transparent
      top: 50%
      left: 50%
      margin-top: -11px;
      margin-left: -8px;
      +media('md')
        border-left: 14px solid #ba9674;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        margin-top: -8px;
        margin-left: -6px;

.swiper-pagination-bullet
  cursor: pointer;
  display: inline-block;
  width: 17px
  height: 17px
  border: 2px solid
  color: $white
  opacity: .15
  margin: 0 5px
  anim()

  &:hover
    opacity: 1

  &:after
    content: ''
    display: block;
    //position: absolute;
    width: 7px
    height: 7px
    background: $brown2
    margin-top: 3px
    margin-left: 3px
    opacity: 0

  &-active
    opacity: 1

    &:after
      opacity: 1

.file
  position: relative;
  overflow: hidden;

  input
    position: absolute;
    right: 0
    bottom: 0
    width: 200%
    height: 200%
    opacity: 0
    cursor: pointer;

  &:hover
    .link
      color: $brown2
      border-color: #eee5dc

  &__name
    word-break break-word

.cards
  display: flex;
  flex-wrap wrap
  margin: 0 -15px 0 0
  +media('md')
    margin: 0

  &__item
    width: 20%
    padding: 0 15px 15px 0
    @media screen and (max-width: 1550px)
      width: 25%
    @media screen and (max-width: 1250px)
      width: 33.3333%
    +media('md')
      width: 100%
      padding: 0 0 5px

  &__card
    width: 100%
    height: 537px
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items flex-end
    padding: 20px
    color: #ffffff
    font-size: 42px
    line-height: 1.1
    font-weight: bold;
    +media('md')
      padding: 16px 19px
      height: 420px
      font-size: 28px
