.input
  position: relative;
  display: block;

  &__input
    position: relative;
    z-index: 1
    display: block
    width: 100%
    background: #f6f6f6
    height: 80px
    font-size: 23px
    font-weight: bold;
    border: 0px solid #f6f6f6
    padding: 0 25px
    anim()

    &:hover
      border: 4px solid #e8e7e7
      padding: 0 21px

    &:focus
      border: 4px solid #ec3434
      padding: 0 21px

    &.wpcf7-not-valid
      border: 4px solid #c83b3b

    &--white
      background: #fff
      border-color: #fff

  &__label
    display: block;
    font-size: 23px
    letter-spacing .01em
    color: $black
    margin-bottom: 8px
    +media('md')
      font-size: 16px
      margin-bottom: 5px

  &--textarea
    resize: none
    min-width 100%
    max-width 100%
    line-height: 1.2

  &--sm
    ^[0]__label
      font-size: 18px
      +media('md')
        font-size: 12px
        margin-bottom: 6px


