.coursesList
  .coursesList__header #[b арт-]практики

  .coursesList__items
    .cards
      .cards__item: .cards__card(style='background-image:url(images/01.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/02.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/03.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/04.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/05.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/06.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/07.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/08.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/09.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/10.jpg)') Free-run#[br]Still-life

  .coursesList__header.center #[b история] и теория

  .coursesList__items
    .cards
      .cards__item: .cards__card(style='background-image:url(images/01.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/02.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/03.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/04.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/05.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/06.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/07.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/08.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/09.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/10.jpg)') Free-run#[br]Still-life

  .coursesList__header.right #[b дизайн]

  .coursesList__items
    .cards
      .cards__item: .cards__card(style='background-image:url(images/01.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/02.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/03.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/04.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/05.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/06.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/07.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/08.jpg)') Free-run#[br]Still-life
      .cards__item: .cards__card(style='background-image:url(images/09.jpg)') Скетчинг
      .cards__item: .cards__card(style='background-image:url(images/10.jpg)') Free-run#[br]Still-life

  .coursesList__more
    a(href='#') МОДУЛИ
