.coursesList
  padding-bottom: 111px
  +media('md')
    padding-bottom: 88px

  &__header
    height: 130px
    background: #f6f6f6
    margin-bottom: 15px
    +media('md')
      height: 70px
      margin-bottom: 5px

  &__container
    margin: 0 auto
    max-width 1560px
    padding: 0 20px
    font-size: 54px
    color: #ec3434
    height: 100%
    display: flex;
    align-items center
    +media('md')
      font-size: 26px

    span
      position: relative;
      z-index: 1

      &:before
        content: ''
        position: absolute;
        background: $black
        left: -13px;
        right: -10px;
        bottom: 13px;
        height: 8px;
        z-index: -1;
        +media('md')
          left: -10px;
          right: -8px;
          bottom: 5px;
          height: 6px;

  &__items
    margin-bottom: 105px
    +media('md')
      margin-bottom: 55px

  &__more
    text-align: center;
    margin-top: -67px
    +media('md')
      margin-top: -28px;

    a
      color: $black
      position: relative;
      font-weight: bold;
      border: 0
      text-decoration: none;

      &:before
        content: ''
        position: absolute;
        z-index: -1
        left: -9px;
        right: -10px;
        height: 8px;
        bottom: 6px;
        background: #ec3434
        anim()

      &:hover
        &:before
          bottom: 0px
          height: 20px
