.modulesList
  .modulesList__title
    .cWide
      span МОДУЛИ
  .modulesList__items
    .modulesList__item: .cWide
      .modulesList__header Медиумспецифичность#[br] или мультимедиальность?
      .modulesList__body: .modulesList__inner
        p Постмодерн — одно из главных понятий современной социальной теории, которое описывает завершающий период индустриального общества, начиная с 1870-х годов и до настоящего времени. Понятие было введено в научный оборот в 1950-х годах и характеризует эпоху динамичного роста разнообразия и плюрализма в обществе и культуре. Постмодерн предполагает отказ от господства тотальности и единообразия, от приоритета экономического принципа полезности, а также возникновение новых ценностей, мотивов и стимулов, ориентированных на культуру, а не на материальное производство.
        a.modulesList__link(href='#') ПОДРОБНЕЕ
    .modulesList__item: .cWide
      .modulesList__header Ваши лучшие 15
      .modulesList__body: .modulesList__inner
        p Постмодерн — одно из главных понятий современной социальной теории, которое описывает завершающий период индустриального общества, начиная с 1870-х годов и до настоящего времени. Понятие было введено в научный оборот в 1950-х годах и характеризует эпоху динамичного роста разнообразия и плюрализма в обществе и культуре. Постмодерн предполагает отказ от господства тотальности и единообразия, от приоритета экономического принципа полезности, а также возникновение новых ценностей, мотивов и стимулов, ориентированных на культуру, а не на материальное производство.
        a.modulesList__link(href='#') ПОДРОБНЕЕ
    .modulesList__item: .cWide
      .modulesList__header Искусство в эпоху постмодерна
      .modulesList__body: .modulesList__inner
        p Постмодерн — одно из главных понятий современной социальной теории, которое описывает завершающий период индустриального общества, начиная с 1870-х годов и до настоящего времени. Понятие было введено в научный оборот в 1950-х годах и характеризует эпоху динамичного роста разнообразия и плюрализма в обществе и культуре. Постмодерн предполагает отказ от господства тотальности и единообразия, от приоритета экономического принципа полезности, а также возникновение новых ценностей, мотивов и стимулов, ориентированных на культуру, а не на материальное производство.
        a.modulesList__link(href='#') ПОДРОБНЕЕ
    .modulesList__item: .cWide
      .modulesList__header Медиумспецифичность#[br] или мультимедиальность?
      .modulesList__body: .modulesList__inner
        p Постмодерн — одно из главных понятий современной социальной теории, которое описывает завершающий период индустриального общества, начиная с 1870-х годов и до настоящего времени. Понятие было введено в научный оборот в 1950-х годах и характеризует эпоху динамичного роста разнообразия и плюрализма в обществе и культуре. Постмодерн предполагает отказ от господства тотальности и единообразия, от приоритета экономического принципа полезности, а также возникновение новых ценностей, мотивов и стимулов, ориентированных на культуру, а не на материальное производство.
        a.modulesList__link(href='#') ПОДРОБНЕЕ
    .modulesList__item: .cWide
      .modulesList__header Ваши лучшие 15
      .modulesList__body: .modulesList__inner
        p Постмодерн — одно из главных понятий современной социальной теории, которое описывает завершающий период индустриального общества, начиная с 1870-х годов и до настоящего времени. Понятие было введено в научный оборот в 1950-х годах и характеризует эпоху динамичного роста разнообразия и плюрализма в обществе и культуре. Постмодерн предполагает отказ от господства тотальности и единообразия, от приоритета экономического принципа полезности, а также возникновение новых ценностей, мотивов и стимулов, ориентированных на культуру, а не на материальное производство.
        a.modulesList__link(href='#') ПОДРОБНЕЕ
    .modulesList__item: .cWide
      .modulesList__header Искусство в эпоху постмодерна
      .modulesList__body: .modulesList__inner
        p Постмодерн — одно из главных понятий современной социальной теории, которое описывает завершающий период индустриального общества, начиная с 1870-х годов и до настоящего времени. Понятие было введено в научный оборот в 1950-х годах и характеризует эпоху динамичного роста разнообразия и плюрализма в обществе и культуре. Постмодерн предполагает отказ от господства тотальности и единообразия, от приоритета экономического принципа полезности, а также возникновение новых ценностей, мотивов и стимулов, ориентированных на культуру, а не на материальное производство.
        a.modulesList__link(href='#') ПОДРОБНЕЕ
    .modulesList__item: .cWide
      .modulesList__header Медиумспецифичность#[br] или мультимедиальность?
      .modulesList__body: .modulesList__inner
        p Постмодерн — одно из главных понятий современной социальной теории, которое описывает завершающий период индустриального общества, начиная с 1870-х годов и до настоящего времени. Понятие было введено в научный оборот в 1950-х годах и характеризует эпоху динамичного роста разнообразия и плюрализма в обществе и культуре. Постмодерн предполагает отказ от господства тотальности и единообразия, от приоритета экономического принципа полезности, а также возникновение новых ценностей, мотивов и стимулов, ориентированных на культуру, а не на материальное производство.
        a.modulesList__link(href='#') ПОДРОБНЕЕ
    .modulesList__item: .cWide
      .modulesList__header Ваши лучшие 15
      .modulesList__body: .modulesList__inner
        p Постмодерн — одно из главных понятий современной социальной теории, которое описывает завершающий период индустриального общества, начиная с 1870-х годов и до настоящего времени. Понятие было введено в научный оборот в 1950-х годах и характеризует эпоху динамичного роста разнообразия и плюрализма в обществе и культуре. Постмодерн предполагает отказ от господства тотальности и единообразия, от приоритета экономического принципа полезности, а также возникновение новых ценностей, мотивов и стимулов, ориентированных на культуру, а не на материальное производство.
        a.modulesList__link(href='#') ПОДРОБНЕЕ
    .modulesList__item: .cWide
      .modulesList__header Искусство в эпоху постмодерна
      .modulesList__body: .modulesList__inner
        p Постмодерн — одно из главных понятий современной социальной теории, которое описывает завершающий период индустриального общества, начиная с 1870-х годов и до настоящего времени. Понятие было введено в научный оборот в 1950-х годах и характеризует эпоху динамичного роста разнообразия и плюрализма в обществе и культуре. Постмодерн предполагает отказ от господства тотальности и единообразия, от приоритета экономического принципа полезности, а также возникновение новых ценностей, мотивов и стимулов, ориентированных на культуру, а не на материальное производство.
        a.modulesList__link(href='#') ПОДРОБНЕЕ
