.about
  h2.about__title #[b о на]с
  .cWide
    .about__text Школа #[b NEWARTDOM] собрала под своим куполом профессионалов с многолетним опытом преподавания в сфере теории и практики современного искусства. Мы предлагаем качественное профильное образование, которое вы можете получить не выходя из дома. Оно станет отличной базой для ваших последующих творческих и научных исканий.
    .about__principes
      .about__itemsHeader Наши#[br]преимущества:
      img.about__decor2(src='modules/about/img/about-decor2.jpg')
      //.about__itemsText
      //  p Школа #[b NEWARTDOM] собрала под своим куполом профессионалов с многолетним опытом преподавания в сфере теории и практики современного искусства. Мы предлагаем качественное профильное образование, которое вы можете получить не выходя из дома. Оно станет отличной базой для ваших последующих творческих и научных исканий.
      //  p Школа #[b NEWARTDOM] собрала под своим куполом профессионалов с многолетним опытом преподавания в сфере теории и практики современного искусства. Мы предлагаем качественное профильное образование, которое вы можете получить не выходя из дома. Оно станет отличной базой для ваших последующих творческих и научных исканий.
      //  p Школа #[b NEWARTDOM] собрала под своим куполом профессионалов с многолетним опытом преподавания в сфере теории и практики современного искусства. Мы предлагаем качественное профильное образование, которое вы можете получить не выходя из дома. Оно станет отличной базой для ваших последующих творческих и научных исканий.
      .about__items
        .about__item
          +svg('success')
          .about__inner #[b интердисциплинарность] — основа развития мы выступаем за расширение области искусства и за коллаборацию художественных и научных дисциплин
        .about__item
          +svg('success')
          .about__inner #[b искусство] — коммуникативная среда мы считаем, что автор и зритель — равноправные участники художественного диалога посредством произведения
        .about__item
          +svg('success')
          .about__inner #[b опыт] — фундамент концепта мы убедились, что актуальный дискурс основан на фиксации, обсуждении и обмене визуальным и сенсорным опытом
        .about__item
          +svg('success')
          .about__inner #[b кураторство] — практика художника мы рассматриваем кураторство как художественный навык и основу продвижения и циркуляции арт-проекта

        .about__item
          +svg('success')
          .about__inner #[b интердисциплинарность] — основа развития мы выступаем за расширение области искусства и за коллаборацию художественных и научных дисциплин
        .about__item
          +svg('success')
          .about__inner #[b искусство] — коммуникативная среда мы считаем, что автор и зритель — равноправные участники художественного диалога посредством произведения
        .about__item
          +svg('success')
          .about__inner #[b опыт] — фундамент концепта мы убедились, что актуальный дискурс основан на фиксации, обсуждении и обмене визуальным и сенсорным опытом
        .about__item
          +svg('success')
          .about__inner #[b кураторство] — практика художника мы рассматриваем кураторство как художественный навык и основу продвижения и циркуляции арт-проекта

      button.about__more ПОДРОБНЕЕ
