.books
  max-width 1560px
  padding: 0 20px
  margin: 0 auto 98px
  +media('md')
    margin-bottom: 49px

  &__title
    visibility: hidden;
    font-size: 27px
    line-height: 1.35
    font-weight: bold;
    margin-bottom: 31px
    +media('md')
      font-size: 20px
      line-height: 1.4
      margin-bottom: 14px

  &__items
    margin: -5px
    display: flex;
    flex-wrap wrap
    +media('md')
      margin: 0

  &__item
    visibility: hidden;
    width: 50%
    padding: 5px
    +media('md')
      width: 100%
      padding: 0 0 5px

  &__card
    border: 2px solid #ec3434
    padding: 13px 18px 12px
    height: 100%
    display: flex;
    align-items flex-start
    +media('md')
      padding: 9px 13px 10px
      flex-direction column

  &__content
    flex: 1

  &__author
    font-size: 14px
    +media('md')
      font-size: 11px
      line-height: 1.25
      margin-bottom: 6px

  &__header
    font-size: 20px
    font-weight: bold;
    +media('md')
      font-size: 16px
      line-height: 1.15

  &__button
    font-size: 18px;
    margin-left: 18px
    letter-spacing: 0.025em;
    color: #ec3434;
    border: 2px solid #1a1616;
    font-weight: bold;
    padding: 2px 13px 2px 13px;
    display: inline-block;
    text-decoration: none;
    anim()
    +media('md')
      //font-size: 20px
      line-height: 1
      margin-left: 0
      margin-top: 20px
      padding: 5px 9px 5px 8px

    &:hover
      border: 4px solid #ec3434;
      padding: 0px 11px 0px 11px;
      +media('md')
        padding: 3px 7px 3px 6px


