header.header(class=(HEADER_SMALL ? 'header--small' : ''))
  .gallery
    .gallery__slider
      .gallery__items
        .gallery__item: .header__bg(style='background-image: url(modules/header/img/header-bg.jpg)')
        .gallery__item: .header__bg(style='background-image: url(modules/header/img/header-bg.jpg)')
        .gallery__item: .header__bg(style='background-image: url(modules/header/img/header-bg.jpg)')
    .nav.header__nav
      button.nav__button.nav__button--prev: +svg('arrow')
      button.nav__button.nav__button--next: +svg('arrow')

  .header__searchForm
    .cWide
      form
        input.header__searchInput(placeholder='Введите ключевые слова для поиска')
        button.header__searchButton ПОИСК

  .header__top
    a.header__logo: img(src='modules/header/img/logo.png')

    .header__menu
      ul
        li: a(href='#') ШКОЛА
        li: a(href='#') МЕНТОРЫ
        li: a(href='#') КУРСЫ
        li: a(href='#') МОДУЛИ
        li: a(href='#') БЛОГ
        li: a(href='#') КОНТАКТЫ
      button.header__close: +svg('close')

    button.header__hamburger: +svg('menu')

    .header__aside
      .header__row
        a.header__cabinet(href='#')
          | КАБИНЕТ СТУДЕНТА
          +svg('login')
        button.header__search()
          +svg('search')
          +svg('close')
      .header__row
        a.header__faq(href='#faq'): +svg('question')

