$search_height = 90px;

.header
  position: relative;
  z-index: 2
  overflow: hidden;
  height: 870px
  +media('md')
    height: 350px

  &--small
    height: 180px
    +media('md')
      height: 120px

    & ^[0]__bg
      filter blur(10px)

      &:after
        opacity: .75

  &--search
    & ^[0]__bg
      filter blur(10px)

      &:after
        opacity: .75

    & ^[0]__top
      top: $search_height

    & ^[0]__searchForm
      top: 0

    & ^[0]__search
      svg
        &:nth-child(1)
          opacity: 0

        &:nth-child(2)
          opacity: 1

  &__bg
    position: absolute;
    background-size: cover
    background-position: 50% 50%
    left: -20px
    top: -20px
    right: -20px
    bottom: -20px

    &:after
      content ''
      position: absolute;
      left: 0
      top: 0
      right: 0
      bottom: 0
      background: $black
      opacity: 0
      anim(.25s)

  &__searchForm
    position: absolute;
    //height: $search_height
    top: -($search_height)
    overflow: hidden;
    background: #f6f6f6
    left: 0
    width: 100%
    anim(.25s)

    .cWide
      position: relative;

  &__searchInput
    display: block;
    width: 100%
    height: $search_height
    font-size: 23px

  &__searchButton
    position: absolute;
    right: 20px
    top: 50%
    transform translateY(-50%)
    font-size: 27px
    line-height: 1
    font-weight: bold;
    letter-spacing .025em
    color: #ec3434
    padding: 10px 12px 9px 13px
    border: 2px solid $black
    anim()

    &:hover
      border-color: #ec3434

  &__top
    position: absolute;
    left: 0
    top: 0
    width: 100%
    display: flex;
    //position: relative;
    z-index: 1
    align-items center
    justify-content space-between
    anim(.25s)
    +media('md')
      align-items flex-start

  &__logo
    margin-left: 60px;
    margin-bottom: 27px;
    @media screen and (max-width: 1550px)
      margin-left: 30px
    +media('md')
      position: absolute;
      left: 20px;
      top: 77px;
      margin: 0
      img
        max-width: 130px
        height: auto;

  &__menu
    margin-bottom: 17px
    +media('md')
      position: fixed;
      top: 0
      left: 0
      width: 100%
      height: 100%
      visibility: hidden;
      opacity: 0
      z-index: -1
      transform translateY(-40px)
      anim(.2s)

      &--active
        background: #f6f6f6
        opacity: 1
        visibility: visible;
        z-index: 1000
        transform none

    ul
      display: flex;
      align-items center
      margin: 0
      padding: 0
      +media('md')
        margin-top: 80px
        flex-direction column

    li
      margin: 0 27px
      padding: 0
      @media screen and (max-width: 1550px)
        margin: 0 10px
      +media('md')
        margin-bottom: 20px

      &:before
        display: none;

    a
      font-size: 22px
      color: #ffffff
      font-weight: bold;
      border: 0
      text-decoration: none;
      anim()

      &:hover
        color: #ec3434

      +media('md')
        color: #000000

  &__close
    display: none;
    +media('md')
      position: absolute;
      width: 60px
      height: 60px
      display: flex;
      align-items center
      justify-content center
      background: #ffffff
      border: 0
      top: 0
      left: 0
      svg
        width: 24px
        height: 18px
        fill #26232d

  &__row
    display: flex;
    justify-content flex-end

  &__cabinet
    display: flex
    align-items center
    justify-content center
    width: 290px
    height: 90px
    border-radius: 0 0 0 40px
    background: #1a1616
    color: #ffffff
    border: 0
    font-size: 18px
    text-decoration: none;
    anim()
    +media('md')
      width: 200px
      height: 60px
      border-radius: 0
      font-size: 12px

    svg
      fill: #ec3434
      width: 16px
      height: 24px
      display: inline-block;
      vertical-align: middle;
      margin-left: 8px
      +media('md')
        width: 10px
        height: 15px

    &:hover
      color: #ec3434

  &__search
    display: block;
    //display: flex;
    //align-items center
    //justify-content center
    width: 90px
    height: 90px
    background: #ffffff
    position: relative;
    border: 0
    +media('md')
      width: 60px
      height: 60px

    svg
      position: absolute;
      left: 50%
      top: 50%
      transform translate(-50%, -50%)
      width: 28px
      height: 28px
      anim()
      +media('md')
        width: 20px
        height: 20px

      &:nth-child(2)
        opacity: 0

    &:hover
      svg
        fill: #ec3434

  &__faq
    display: flex;
    align-items center
    justify-content center
    width: 90px
    height: 90px
    border-radius: 0 0 0 50%
    background: #ec3434
    +media('md')
      width: 60px
      height: 60px

    svg
      width: 28px
      height: 28px
      fill #fff
      anim()
      +media('md')
        width: 20px
        height: 20px

    &:hover
      svg
        fill: #1a1616

  &__hamburger
    display: none;
    +media('md')
      width: 60px
      height: 60px
      display: flex;
      align-items center
      justify-content center
      background: #ffffff
      border: 0
      svg
        width: 24px
        height: 18px
        fill #26232d
