extends pug/_layout

block body
  include modules/module/module
  include modules/books/books
  include modules/moduleCourses/moduleCourses
  include modules/register/register
  include modules/customModule/customModule
  include modules/modulesList/modulesList
  include modules/faq/faq

