/*!!
 * Theme Name: inbrbus
 */

@import "destyle.css/destyle.css"
//@import "baron/baron.css";
//@import "baron/skins/styles.css";
//@import "nouislider/distribute/nouislider.css"
//@import "photoswipe/dist/photoswipe.css"
//@import "photoswipe/dist/default-skin/default-skin.css"
//@import "@chenfengyuan/datepicker/dist/datepicker.css"

@import "stylus/_fonts.styl";
@import "stylus/_vars.styl";
@import "stylus/_mixins.styl";

@import "stylus/blocks/common.styl";
@import "stylus/blocks/typography.styl";
@import "stylus/blocks/btn.styl";
@import "stylus/blocks/btnArrow.styl";
@import "stylus/blocks/checkbox.styl";
@import "stylus/blocks/input.styl";
@import "stylus/blocks/navBtn.styl";
@import "stylus/blocks/radio.styl";
@import "stylus/blocks/select.styl";
@import "stylus/blocks/slider.styl";
@import "stylus/blocks/card.styl";
@import "stylus/blocks/tabs.styl";

@import "modules/notFound/notFound.styl";
@import "modules/popup/popup.styl";
@import "modules/header/header.styl";
@import "modules/footer/footer.styl";

@import "modules/about/about.styl";
@import "modules/courses/courses.styl";
@import "modules/modules/modules.styl";
@import "modules/faq/faq.styl";

@import "stylus/blocks/wpcf7.styl";
