.yearPrograms.c
  h2.title.yearPrograms__title: span: span ГОДОВЫЕ ПРОГРАММЫ ОБУЧЕНИЯ
  .yearPrograms__items
    each i in [1,2,3]
      .yearPrograms__item
        button.yearPrograms__image(style='background-image: url(images/01.jpg)' data-micromodal-trigger="video-modal" data-youtube-id='dQw4w9WgXcQ')
        .yearPrograms__header NAD-ART
        .yearPrograms__text Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.
        .yearPrograms__btn: button.btn.btn--bottomLeft(data-micromodal-trigger="video-modal" data-youtube-id='dQw4w9WgXcQ') ПОДРОБНЕЕ
  .yearPrograms__more
    button ЕЩЕ
